In [17]:
import torch
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from transformers import AutoTokenizer, AutoModelForSequenceClassification
from datasets import Dataset

device = "cuda" if torch.cuda.is_available() else "cpu"
device

'cuda'

In [15]:
df = pd.DataFrame(pd.read_csv("../data/video_data.csv"))
df = df.dropna()
df.head()

,Video Title,Video Like Count,Video View Count,Video Comment Count
0,Coding for 1 Month Versus 1 Year #shorts #coding,220649,4601638,2432
1,what 10 years of coding looks like…,1252936,21172887,10404
2,What is Coding?,23012,1570351,800
3,Programming vs Coding - What&#39;s the differe...,55928,1942385,1777
4,How to ACTUALLY learn to code... 7 Roadmaps fo...,120079,1918790,2861

In [19]:
ds = Dataset.from_pandas(df)
ds

Dataset({
    features: ['Video Title', 'Video Like Count', 'Video View Count', 'Video Comment Count'],
    num_rows: 50
})

In [14]:
tokenizer = AutoTokenizer.from_pretrained("nlptown/bert-base-multilingual-uncased-sentiment")
model = AutoModelForSequenceClassification.from_pretrained("nlptown/bert-base-multilingual-uncased-sentiment")